<div class="contenedor-recibos">
  <div class="formulario-recibo">
    <img src="/logorecibos.png" class="logo-recibo" />
    
    <select class="selector-mes">
      <option disabled selected>Seleccioná el mes</option>
      <option>Enero</option>
      <option>Febrero</option>
      <option>Marzo</option>
      <option>Abril</option>
      <option>Mayo</option>
      <option>Junio</option>
      <option>Julio</option>
      <option>Agosto</option>
      <option>Septiembre</option>
      <option>Octubre</option>
      <option>Noviembre</option>
      <option>Diciembre</option>
    </select>

    <input type="text" placeholder="Año" class="campo-anio" />
    
    <button class="boton-descarga">Descargar</button>

    <p class="bienvenida">¡Bienvenido, Invitado!</p>
  </div>
</div>

